<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button style="margin-right: 20px;">
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </button>
        <h1>MAKRUB</h1>
        <span class="menu-spacer"></span>
        <div>
            <!-- <a [routerLink]="'/accounts'"> MAKRUB </a>
            <a mat-button [routerLink]="'/create-account'"> Create Account </a>
            <a mat-button [routerLink]="'/contacts'"> Contacts </a>
            <a mat-button [routerLink]="'/create-contact'"> Create Contact </a>
            <a mat-button [routerLink]="'/activities'"> Activities </a>
            <a mat-button [routerLink]="'/create-activity'"> Create Activity </a> -->

        </div>
    </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="4" rowHeight="450px" style="margin-right: 50px;margin-left:50px;">

    <mat-grid-tile>
        <div class="card-class">
            <img [src]="imageUrl" style="width:50%;height: 30%; border-radius: 50%; ">
            <br>
            <br>
            <button mat-raised-button color="primary" class="w-20" (click)="fileUpload.click()">เปลี่ยน</button>
            <input type="file" (change)="handleFileInput($event.target.files)" #fileUpload hidden>
        </div>
    </mat-grid-tile>
    <!-- 2 -->
    <mat-grid-tile>
        <div class="card-class">

        </div>


    </mat-grid-tile>
    <!-- 3 -->
    <mat-grid-tile>
        <mat-card class="card-home">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="onLogout()">LOGOUT</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>